* {
    box-sizing: border-box;
}

:root {
    --primary-color: #171100;
    --primary-bgc: #e5e5e5;
    --font-heading: Sen, san-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
}

/* COMMON */
a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    line-height: 50px;
    min-width: 118px;
    background: var(--primary-color);
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    border-radius: 999px;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.break-all {
    word-break: break-all;
}

/* HEADER */

.header {
    background: #fffcf4;
}

.header.scroll {
    position: sticky;
    top: -28px;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

/* NAVBAR */
.navbar {
    margin-left: auto;
}

.navbar ul {
    display: flex;
}

.navbar a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5f5b53;
}

.navbar a:hover,
.navbar li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: var(--primary-color);
}

.navbar li.active a::after {
    content: "";
    display: block;
    position: absolute;
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    background: var(--primary-color);
    border-radius: 1px;
}

.header .btn-action {
    min-width: 144px;
    margin-left: 49px;
}

/* HERO */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

/* HERO left */
.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: bottom;
}

.hero .hero-summary {
    position: absolute;
    padding: 24px;
    width: 270px;
    right: 0;
    bottom: 48px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff9e8;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-summary .course-name {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color);
}

/* HERO right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .content-block .title {
    font-family: var(--font-heading);
    width: 470px;
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: var(--primary-color);
}

.hero .content-block .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero .content-block .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero .content-block .hero-cta {
    min-width: 180px;
    line-height: 64px;
    background: #ffb900;
}

.hero .content-block .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: transparent;
}

.hero .content-block .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}

.hero .content-block span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    cursor: pointer;
}

.hero .content-block .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero .content-block .stats {
    margin: 8px 0 0 -28px;
}

.hero .content-block strong {
    font-family: var(--font-heading);
    padding: 0 8px 0 28px;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

/* POPULAR */
.popular {
    padding: 65px 0;
    margin-top: 135px;
    background: #fffcf4;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .sub-title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.popular .desc {
    margin-top: 16px;
    max-width: 458px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.popular .control {
    display: flex;
    gap: 18px;
}

.popular .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #ffb900;
    border: 1px solid #ffb900;
    background: transparent;
}

.popular .control-btn:hover {
    color: #fff;
    background: #ffb900;
}

.popular .list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.popular .item {
    width: 33.33%;
    border: 1px solid #e2dfda;
    border-radius: 12px;
    background: #fff;
}

.popular .item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.popular .item .thumb {
    width: calc(100% + 2px);
    margin: -1px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.popular .list .rating,
.popular .row-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .item .body {
    padding: 16px 22px 22px;
}

.popular .item .row-details .value {
    margin-left: 6px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}

.popular .item .title .link-course {
    padding-right: 6px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .item .desc {
    margin-top: 6px;
    max-width: 297px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.popular .item .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.popular .item .info .label {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .item .info .popular-cta:hover {
    color: #fff;
    background: #ffb900;
}

/* FEEDBACK */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    transform: translateX(-100%);
    transition: all ease 0.3s;
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .title {
    margin-top: 18px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback-item .info .desc {
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback-item .info .dots {
    margin-top: 28px;
    display: flex;
}

.feedback-item .info .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-item .dot.active {
    background: #ffb900;
    cursor: default;
}

.feedback-item .content {
    width: 66%;
    margin-left: auto;
}

.feedback-item .quotes {
    margin-left: 30px;
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

/* FEATURES */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .images {
    display: flex;
    gap: 0 30px;
}

.features .images img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.features img.lower {
    margin-top: 34px;
}

.features .content {
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.features .sub-title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.features .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.features .content .cta-btn {
    margin-top: 32px;
    min-width: 137px;
    color: #fff;
    background: #ffb900;
}

.features-2nd {
    margin-top: 70px;
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd .content {
    width: 49%;
}

.features-2nd .images img {
    width: 470px;
    height: 440px;
}

/* BLOGS */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog .blog-top {
    text-align: center;
}

.blog .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    line-height: 1.26;
    font-size: 3.8rem;
    text-align: center;
    letter-spacing: -0.02em;
    color: #130606;
}

.blog .blog-top .desc {
    margin: 16px auto auto;
    width: 448px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
}

.blog .list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
    overflow: hidden;
}

.blog .item {
    flex-shrink: 0;
    width: calc(33.33% - 20px);
    background: #ffffff;
    border-radius: 16px;
    transition: all ease 0.3s;
    transform: translateX(-100%);
}

.blog .item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog .item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .item .body {
    padding: 20px 20px 28px;
}

.blog .item .row {
    display: flex;
}

.blog .item .time {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.blog .item .time::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 4px;
    border-radius: 50%;
    background: #ffb900;
}

.blog .item .time::after {
    position: absolute;
    left: 0;
    bottom: 0;
    right: -27px;
    content: "";
    display: inline-block;
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
}

.blog .item .method a {
    display: inline-block;
    margin: 12px 0;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blog .item .btn {
    font-size: 1.4rem;
}

.blog .item .btn:hover {
    background: #ffb900;
}

.blog .dots {
    display: flex;
    justify-content: center;
    gap: 6px;
}

.blog .dot {
    margin-top: 38px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
    cursor: pointer;
}

.blog .dot.active {
    background: #ffb900;
    cursor: default;
}

/* FOOTER */
.footer {
    padding: 96px 135px 0;
    background: #2e2100;
}

.footer .row-top {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .row-top .column {
    width: 21.6%;
}

.footer .row-top .column:first-child {
    width: 35%;
}

.footer .desc {
    max-width: 267px;
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .heading {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

.footer .social {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}

.footer .heading {
    display: inline-block;
    padding: 0 48px 14px 0;
    border-bottom: 1px solid #59554b;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

.footer .list {
    margin-top: 28px;
}

.footer .list a {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .list li:last-child a {
    margin-bottom: 0;
}

.footer .list strong {
    font-weight: 600;
    color: #ffffff;
}

.footer .row-bottom {
    padding: 28px 0;
}

.footer .row-bottom p {
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #807d74;
}
